<template name="Main">
  <div id="container">

      {{#masonryContainer transitionDuration="0.1s" gutter=5 id="MasonryContainer" }}

          {{#masonryElement "MasonryContainer"}}
            <button id="add" class="btn btn-warning" data-target="#modal" data-toggle="modal">Add Block</button>
              {{>Modal}}
            <div class="stamp"></div>
          {{/masonryElement}}

          {{#each posts}}
              {{#masonryElement "MasonryContainer"}}
                  {{> PostItem}}
              {{/masonryElement}}
          {{/each}}
      {{/masonryContainer}}

  </div>
</template>
